<h1>오늘의 로또 번호!!</h1>
<!--<p>오늘은 번호는</p>-->

<!--<div>-->
<!--    <% @lottonum.each do |num|%>-->
<!--        <b><%= num %></b>-->
<!--        <%end%>-->
<!--</div>-->

<form action="/lotto/api">
    <input type='submit' value = "로또 추첨">
</form>


